.form-content{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('/public/assets/img/doctor.png');
    background-size:contain;
    background-position: left;
    background-repeat: no-repeat;
    
  
    


}

.form {
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
} 

.form .title {
    font-size: 25px; 
    font-weight: 500;
    position: relative;
}

.form .title::before {
    content : '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 40px;
    background: red;
}

.form form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

form .user-details .input-box{
    margin:  20px 0 12px 0 ;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display:block;
    font-weight: 500;
    margin-bottom: 5px;

}
.user-details .input-box input {
height:45px ;
width: 100%;
outline: none;
border-radius: 5px;
border : 1px solid #ccc;
padding-left : 15px;
font-size: 16px;
border-bottom-width: 2px;
transition: all 0.3 ease;

}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color:#9b59b6;
}

form .button {
    height: 45px ;
    margin:45px 0 ;
}

form .button input {
    height: 100%;
    width: 100%;
    
    outline: none;
    color : #fff;
    background: red;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;

}

form .button input:hover {
  
    background: rgb(40, 217, 87);
 
}

@media (max-width: 584px)  {
    .form {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width :100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar{
        width: 0 ; 
    }
}


.msgError {
    color: red;
    font-size: 10px;
    font-weight: 300;
}
